.container {
    text-align: center;
}
.title {
    margin-top: 25px;
    color: #c0caf5;
    font-size: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.reset {
    width: 120px;
    height: 60px;
    border: none;
    outline: none;
    cursor: pointer;
    border-radius: 50px;
    background: #1f2335;
    font-size: 20px;
    color: #7dcfff;
    margin-top: 20px;
}
.board {
    height: 384px;
    width: 384px;
    display: flex;
    margin: auto;  
}
.boxes {
    display: flex;
    height: 120px;
    width: 120px;
    background: #1f2335;
    border: 4px solid #131a24;
    border-radius: 12px;
    cursor: pointer;
}

.boxes img {
    margin: 30px 30px 30px 30px;
}

.title img {
    padding: 15px 10px;
    height: 40px;
}
